@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);


:root {
    --main-color: #272a31;
    --secondary-color: #ec5242;
    --background-color: #d3d3d3;
    --secondary-color-dark: #a72011;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 70%;
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    color: var(--main-color);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: unset;
}